body {
    background-color: rgb(233, 232, 232);
}

.main {
    margin-left: 15px;
    margin-right: 15px;
}

.logo {
    width: 50px;
    border-radius: 15px;
}

input {
    width: 900px;
    height: 45px;
    border-radius: 5px 5px 5px 5px;
    font-size: large;
    padding-left: 15px;
}

.div1 {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
}

.search_icon {
    width: 20px;
}

.search_button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.input_search_btn {
    display: flex;
    align-items: center;
}

.signin_signup_btn {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.cart {
    width: 30px;
    font-weight: 400;
}

.cart_btn {
    width: 40px;
    height: 15px;
    font-weight: 400;
}

.img1 {
    width: 100%;
    height: 100%;
}

.xd img {
    width: 200px;
    border-radius: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.space {
    gap: 10px;
}

.row img {
    display: flex;
    flex-wrap: wrap;
}

.row p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.object2 {
    border: 2px solid black;
    border-radius: 5px;
    gap: 5px;
    background-color: white;
    padding: 5px;
    width: 255px;
}

.object3 {
    border: 2px solid black;
    border-radius: 5px;
    gap: 5px;
    background-color: white;
    padding: 5px;
    width: 255px;
}

.object4 {
    border: 2px solid black;
    border-radius: 5px;
    gap: 5px;
    background-color: white;
    padding: 5px;
    width: 255px;
}

#container2 p {
    display: flex;
    justify-content: left;
}

#container2 p {
    display: flex;
    justify-content: left;
}

.red_para {
    background-color: red;
    color: white;
    width: 110px;
    padding: 3px;
}

.img_size {
    width: 230px;
    height: 200px;
}

#sec5 {
    margin-top: 50px;
}

.side_img {
    width: 450px;
    margin: 5px;
}

.miidle_img {
    width: 550px;
    height: 530px;
    margin: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-style: italic;
}

.footer_div1 {
    width: 700px;
}

.footer_div2 {
    width: 700px;
}

.footer_div3 {
    width: 400px;
}

.svg_div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer2 {
    background-color: rgb(58, 58, 58);
    border-radius: 5px;

}

.footer2 p {
    display: flex;
    justify-content: center;
    color: white;

}

.footer2 svg {
    width: 30px;
    height: 20px;

}



/* mobile kay leye hai  */
@media only screen and (max-width: 600px) {

    /* CSS styling specific to screens smaller than 600 pixels wide */

    .main {
        margin-left: 2px;
        margin-right: 2px;

    }

    .logo {
        width: 40px;
        border-radius: 15px;
    }

    input {
        width: 140px;
        height: 35px;
        border-radius: 5px 5px 5px 5px;
        font-size: large;
        padding-left: 15px;
    }

    .div1 {
        width: 96%;
        height: 40px;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: gray;
        padding: 10px;
        border-radius: 5px;
    }

    .search_icon {
        width: 15px;
    }

    #container2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .search_button {
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .input_search_btn {
        display: flex;
        align-items: center;
    }

    .signin_signup_btn {
        width: 45px;
        height: 40px;
        margin-top: -15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .cart {
        width: 30px;
        font-weight: 400;
    }

    .cart_btn {
        width: 40px;
        height: 15px;
        font-weight: 400;
    }

    .img1 {
        width: 100%;
        height: 100%;
    }

    .xd img {
        width: 100%;
        border-radius: 100px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
        font-size: medium;
        width: 380px;
        margin-left: 0px;
        padding: 0px;
        margin-right: 0px;

    }

    .row {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .space {
        gap: 10px;
    }

    /* #container2 img {
        width: 120px;
        background-color: aqua;
        height: 80px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    } */

    .row p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .object2 {
        border: 2px solid black;
        border-radius: 5px;
        gap: 5px;
        background-color: white;
        padding: 5px;
        width: 65%;
        height: 300px;
    }

    .object2 img {
        /* background-color: blue; */
        width: 50%;
        height: 100px;
        margin-left: 60px;
    }

    /* .red_para {
        width: 510px;
    } */







    .object1 img {
        margin-left: 550px;
    }



    #container2 p {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
    }

    #container2 p {
        display: flex;
        justify-content: left;
    }

    .red_para {
        background-color: red;
        color: white;
        width: 110px;
        padding: 3px;
    }

    .img_size {
        width: 90%;
        height: 200px;
    }

    #sec5 {
        margin-top: 5px;
    }

    .side_img {
        width: 120px;
        height: 140px;
        margin-left: 2px;
        margin-right: 2px;

    }

    .miidle_img {
        width: 140px;
        height: 290px;
    }

    #container3 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .object3 {
        border: 2px solid black;
        border-radius: 5px;
        gap: 5px;
        background-color: white;
        padding: 5px;
        width: 65%;
        height: 300px;

    }

    .object3 img {
        /* background-color: blue; */
        width: 50%;
        height: 100px;
        margin-left: 60px;
    }


    #container4 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .object4 {
        border: 2px solid black;
        border-radius: 5px;
        gap: 5px;
        background-color: white;
        padding: 5px;
        width: 65%;
        height: 300px;

    }

    .object4 img {
        /* background-color: blue; */
        width: 50%;
        height: 100px;
        margin-left: 60px;
    }

    .footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px;
        font-style: italic;
    }

    .footer_div1 {
        width: 700px;
    }

    .footer_div2 {
        width: 700px;
    }

    .footer_div3 {
        width: 400px;
    }





}

/* Media query for screens between 601 and 900 pixels wide */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* CSS styling specific to screens between 601 and 900 pixels wide */
}

/* Media query for screens larger than 901 pixels wide */
@media only screen and (min-width: 901px) {
    /* CSS styling specific to screens larger than 901 pixels wide */
}
